{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime)))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "words" .WordCount | default (printf "%d words" .WordCount)))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" .)) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}

{{- if gt (len .Params) 0 }}
{{- $tagsKey := (.Language.Params.Taxonomies.tag | default "tags") | lower }}
{{- $hideKeys := slice "propertieshide" }}
{{- with site.Params.propertiesHide }}
  {{- range . }}
    {{- $hideKeys = $hideKeys | append (lower (printf "%v" .)) }}
  {{- end }}
{{- end }}
{{- $keys := slice }}
{{- range $key, $val := .Params }}
  {{- $keyLower := lower $key }}
  {{- if and $val (ne $keyLower $tagsKey) (not (in $hideKeys $keyLower)) }}
    {{- $keys = $keys | append $key }}
  {{- end }}
{{- end }}
{{- if gt (len $keys) 0 }}
{{- $lines := slice }}
{{- range $key := sort $keys }}
  {{- $lines = $lines | append (printf "%s: %v" $key (index $.Params $key)) }}
{{- end }}
{{- $bulletLines := slice }}
{{- range $line := $lines }}
  {{- $bulletLines = $bulletLines | append (printf "- %s" $line) }}
{{- end }}
<details class="post-content" hidden>
  <summary class="post-meta">Properties</summary>
  {{- delimit $bulletLines "\n" | markdownify }}
</details>
{{- end }}
{{- end }}
