{{- $cfg := site.Params.homeReadme | default (dict) -}}
{{- $remote := $cfg.remote | default "" -}}
{{- $local := $cfg.localPath | default "" -}}
{{- $content := "" -}}

{{- if $remote }}
  {{- with try (resources.GetRemote $remote) }}
    {{- with .Err }}
      {{- warnf "home_readme: remote fetch failed: %s" . }}
    {{- else }}
      {{- $content = .Value.Content -}}
    {{- end }}
  {{- end }}
{{- end }}

{{- if not $content }}
  {{- if and $local (fileExists $local) }}
    {{- $content = readFile $local -}}
  {{- end }}
{{- end }}

{{- if $content }}
  <div class="home-readme">
    {{- .Page.RenderString $content -}}
  </div>
{{- else }}
  {{- warnf "home_readme: no content (set params.homeReadme.remote or params.homeReadme.localPath)" -}}
{{- end }}
